@import url('https://fonts.googleapis.com/css?family=Roboto');


.video-player {
  width: 80vw;
  height: auto;
  position: relative;
  margin: 0 auto;


text-align: center;


  top: 50%;
  transform: translateY(8%);


}
video {
  width: 100%;
  height: 100%;
  background:black;
  
}

.caption {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 91%;
  margin-left: 2%;
  align-items: center;
  transition: opacity .2s;
  color:  white; 
  font-family: 'Roboto', Arial;
}

.progress {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 8%;
  align-items: center;
  transition: opacity .2s;
}




.controls {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 0%;
  align-items: center;
  transition: opacity .2s;
}



.video-player.playing .controls {
  opacity: 0;
}

.video-player:hover .controls {
  opacity: 1;
}

.control-button {
  border: none;
  background: transparent;
  cursor: pointer;
  opacity: .8;
  transition: all .2s;
}

.control-button:hover {
  opacity: 1;
}

.control-button.play-button {
  height: 40px;
  width: 40px;
}

.control-button.sound-button {
  height: 40px;
  width: 40px;
}

.control-button.next-button {
  height: 35px;
  width: 35px;
}


.control-button.fullscreen-button {
  height: 35px;
  width: 35px;
  margin-left: auto;
  margin-right: 0;
}

.control-button svg {
  stroke: #fff;
  fill: transparent;
}

.control-button.logo-button {
  height: 45px;
  width: 115px;
  margin-left: 78%;

}

.timeline {
  -webkit-appearance: none;
  width: calc(100%);
  height: .5em;
  background-color: rgba(255, 255, 255, .3);
  border-radius: 5px;
  background-size: 0% 100%;
  background-image: linear-gradient(#fff, #fff);
  background-repeat: no-repeat;
}

.timeline::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  cursor: pointer;
  /*opacity: 0;*/
  transition: all .1s;
  background-color: rgba(255, 0, 0, .8);
}

.timeline::-moz-range-thumb {
  -webkit-appearance: none;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  cursor: pointer;
  /*opacity: 0;*/
  transition: all .1s;
  background-color: rgba(255, 0, 0, .8);
}

.timeline::-ms-thumb {
  -webkit-appearance: none;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  cursor: pointer;
 /* opacity: 0;*/
  transition: all .1s;
  background-color: rgba(255, 0, 0, .8);
}

/*.timeline::-webkit-slider-thumb:hover {
  background-color: #fff;
}

.timeline:hover::-webkit-slider-thumb {
  opacity: 1;
}

.timeline::-moz-range-thumb:hover {
  background-color: #fff;
}

.timeline:hover::-moz-range-thumb {
  opacity: 1;
}

.timeline::-ms-thumb:hover {
  background-color: #fff;
}

.timeline:hover::-ms-thumb {
  opacity: 1;
}*/

.timeline::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.timeline::-moz-range-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.timeline::-ms-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}
.ytp-spinner {
    position: relative;
    width: 8%;
    margin-left: -32px;
    z-index: 18;
    pointer-events: none;
}

.ytp-spinner-container {
    pointer-events: none;
    position: absolute;
    width: 100%;
    padding-bottom: 100%;
    top: 50%;
    left: 50%;

    margin: 0 auto;


text-align: center;
    margin-top: -250%;
    margin-left: -50%;
    animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
    -webkit-animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
}

.ytp-spinner-rotator {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
    animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
}

.ytp-spinner-left {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
}

.ytp-spinner-right {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.ytp-spinner-left {
    right: 49%;
}

.ytp-spinner-right {
    left: 49%;
}

.ytp-spinner-circle {
    box-sizing: border-box;
    position: absolute;
    width: 200%;
    height: 100%;
    border-style: solid;
    border-color: #ddd #ddd transparent;
    border-radius: 50%;
    border-width: 6px;
}

.ytp-spinner-left .ytp-spinner-circle {
    left: 0;
    right: -100%;
    border-right-color: transparent;
    -webkit-animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
    animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
}

.ytp-spinner-right .ytp-spinner-circle {
    left: -100%;
    right: 0;
    border-left-color: transparent;
    -webkit-animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
    animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
}

@-webkit-keyframes ytp-spinner-linspin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes ytp-spinner-linspin {
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes ytp-spinner-easespin {
    12.5% {
        -webkit-transform: rotate(135deg);
    }
    25% {
        -webkit-transform: rotate(270deg);
    }
    37.5% {
        -webkit-transform: rotate(405deg);
    }
    50% {
        -webkit-transform: rotate(540deg);
    }
    62.5% {
        -webkit-transform: rotate(675deg);
    }
    75% {
        -webkit-transform: rotate(810deg);
    }
    87.5% {
        -webkit-transform: rotate(945deg);
    }
    to {
        -webkit-transform: rotate(1080deg);
    }
}

@keyframes ytp-spinner-easespin {
    12.5% {
        transform: rotate(135deg);
    }
    25% {
        transform: rotate(270deg);
    }
    37.5% {
        transform: rotate(405deg);
    }
    50% {
        transform: rotate(540deg);
    }
    62.5% {
        transform: rotate(675deg);
    }
    75% {
        transform: rotate(810deg);
    }
    87.5% {
        transform: rotate(945deg);
    }
    to {
        transform: rotate(1080deg);
    }
}

@-webkit-keyframes ytp-spinner-left-spin {
    0% {
        -webkit-transform: rotate(130deg);
    }
    50% {
        -webkit-transform: rotate(-5deg);
    }
    to {
        -webkit-transform: rotate(130deg);
    }
}

@keyframes ytp-spinner-left-spin {
    0% {
        transform: rotate(130deg);
    }
    50% {
        transform: rotate(-5deg);
    }
    to {
        transform: rotate(130deg);
    }
}

@-webkit-keyframes ytp-right-spin {
    0% {
        -webkit-transform: rotate(-130deg);
    }
    50% {
        -webkit-transform: rotate(5deg);
    }
    to {
        -webkit-transform: rotate(-130deg);
    }
}

@keyframes ytp-right-spin {
    0% {
        transform: rotate(-130deg);
    }
    50% {
        transform: rotate(5deg);
    }
    to {
        transform: rotate(-130deg);
    }
}







body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  min-height: 250px;
  padding-top: 20px;
  font-weight: bold;
  background: #f0f0f0;
}
.infos {
  width: 500px;
  text-align: center;
  font-family: 'Roboto', Arial;
  font-size: 14px;
  line-height: 16px;
  margin-top: 50px;
  color: #000;
}
.infos a {
  color: #555;
  text-decoration: none;
}
.infos a:hover {color: #999;}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

  .control-button.play-button {
  height: 75px;
  width: 75px;

}

.control-button.sound-button {
  height: 75px;
  width: 75px;
}

.control-button.next-button {
  height: 70px;
  width: 70px;
}

.control-button.logo-button {
  height: 70px;
  width: 330px;
  margin-left: 78%;

}

.caption {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 88%;
  margin-left: 2%;
  align-items: center;
  transition: opacity .2s;
  color:  white; 
  font-family: 'Roboto', Arial;
}

.progress {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 10%;
  align-items: center;
  transition: opacity .2s;
}

.controls {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: -4%;
  align-items: center;
  transition: opacity .2s;
}



}


@media(max-width: 750px)
  {

  .control-button.play-button {
  height: 75px;
  width: 75px;

}

.control-button.sound-button {
  height: 75px;
  width: 75px;
}

.control-button.next-button {
  height: 70px;
  width: 70px;
}

.control-button.logo-button {
  height: 70px;
  width: 330px;
  margin-left: 78%;

}

.caption {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 78%;
  margin-left: 2%;
  align-items: center;
  transition: opacity .2s;
  color:  white; 
  font-family: 'Roboto', Arial;
}

.progress {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 8%;
  align-items: center;
  transition: opacity .2s;
}

.controls {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: -12%;
  align-items: center;
  transition: opacity .2s;
}



}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

.caption {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 88%;
  margin-left: 2%;
  align-items: center;
  transition: opacity .2s;
  color:  white; 
  font-family: 'Roboto', Arial;
}

.progress {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 10%;
  align-items: center;
  transition: opacity .2s;
}

.controls {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: -4%;
  align-items: center;
  transition: opacity .2s;
}


.control-button.play-button {
  height: 75px;
  width: 75px;

}

.control-button.sound-button {
  height: 75px;
  width: 75px;
}

.control-button.next-button {
  height: 70px;
  width: 70px;
}

.control-button.logo-button {
  height: 70px;
  width: 330px;
  margin-left: 78%;

}
}
